.tooltip {
    -fx-background-color: lightyellow;
    -fx-text-fill: black;
    -fx-font-size: 14px;
}

/*.populationChart.default-color0.chart-line-line {*/
/*    -fx-stroke: #089f00;*/
/*}*/

/*.populationChart.default-color1.chart-series-line {*/
/*    -fx-stroke: #ff0000;*/
/*}*/

/*.animalDataChart.default-color0.chart-line-line {*/
/*    -fx-stroke: #84ff00;*/
/*}*/


.chart-series-line .chart-line-symbol {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-stroke: transparent;
    -fx-padding: 0;
}